﻿<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="doksoft_uploader_base_dir" value="/ckeditor/plugins/doksoft_uploader/userfiles/" /> <!-- CHANGE THIS -->
    <add key="doksoft_uploader_file_max_size" value="0"/>
    <add key="doksoft_uploader_image_max_size" value="0"/>
    <add key="doksoft_uploader_file_allowed_extensions" value="*"/>
    <add key="doksoft_uploader_image_allowed_extensions" value="*"/>
    <add key="doksoft_uploader_jpeg_quality" value="95"/>
    <add key="doksoft_uploader_max_img_resize_width" value="2000"/>
    <add key="doksoft_uploader_max_img_resize_height" value="2000"/>
    <add key="doksoft_uploader_max_thumb_resize_width" value="500"/>
    <add key="doksoft_uploader_max_thumb_resize_height" value="500"/>
    <!--<add key="doksoft_uploader_filename_format" value="{ORIGINAL_NAME}-{DATE:yyyy-MM-dd-HH-mm}{NUMBER:_}" /> -->
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<httpRuntime targetFramework="4.0" />-->
  </system.web>
  
  <system.webServer>
    <handlers>
      <add name="UploaderHandler" verb="*" path="/doksoft_uploader/uploader" type="DoksoftUploaderLibrary.UploaderHandler, DoksoftUploaderLibrary"/>
    </handlers>
  </system.webServer>
</configuration>